<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <script src="../assets/scripts/scripts.js" defer></script>
    <title>Document</title>
</head>
<body>
      <header>
        <div class="header_bar">
            <p class="logo">Logo</p>
            <div class="header_search">
                <input type="text" name="header_search">
                <img class="header_icon_btn" src="../assets/img/search-svgrepo-com.svg" alt="search icon">
            </div>
            <div class="header_menu">
                <a href="#"><img class="header_icon_btn" src="../assets/img/user-svgrepo-com.svg" alt="user icon"></a>
                <a href="#"><img class="header_icon_btn" src="../assets/img/cart-shopping-svgrepo-com.svg" alt="cart icon"></a>
                <a href="#"><img class="header_icon_btn" src="../assets/img/heart-svgrepo-com.svg" alt="heart icon"></a>
                <img class="header_icon_btn" src="../assets/img/menu-svgrepo-com.svg" alt="menu icon">
            </div>
        </div>
        <nav>
            <button><img id="closeNavMenu" src="../assets/img/sickle-and-hammer-svgrepo-com.svg" alt="communism symbol" class="header_icon_btn"></button>
            <a href="./home.html"><button>home</button></a>
            <a href="./shop.html"><button>shop</button></a>
            <a href="./blog.html"><button>blog</button></a>
            <a href="./about.html"><button>about</button></a>
            <a href="./contact.html"><button>contact</button></a>
        </nav>
      </header>
      <main>
        <div class="links_bar">
            <p><a href="home.html">Home</a> / </p>
        </div>
        <article>
            <header>
                <h1>About us</h1>
                <p>Eiusmod duis incididunt adipisicing dolor labore deserunt ea dolor nulla magna.</p>
            </header>
            <section>
                <h3>Laborum sit ad commodo nisi ullamco exercitation.</h3>
                <p>Esse pariatur culpa laboris quis. Cillum voluptate amet ullamco velit in magna reprehenderit minim officia sint do ipsum. Minim proident cillum nisi ad dolore ut ullamco.</p>
                <p>Deserunt anim cillum ipsum veniam ad. Occaecat qui eiusmod dolore et sit dolor nostrud commodo eu pariatur in anim. Ullamco anim sunt eiusmod id mollit et cillum cupidatat dolore et quis. Reprehenderit non officia eiusmod ex do nostrud. Fugiat laborum nostrud duis et anim reprehenderit tempor dolore qui adipisicing irure laborum ipsum.</p>
                <h3>Adipisicing laborum eiusmod.</h3>
                <p>Labore id exercitation aute consectetur aute consequat ipsum enim exercitation sunt laborum. Sit laboris dolor aute veniam amet nostrud pariatur elit mollit duis consectetur. Do enim in ea est in aute. Est consequat deserunt deserunt eiusmod dolor nisi. Aliquip mollit aliqua mollit magna labore minim officia anim mollit aute est deserunt.</p>
            </section>
        </article>
      </main>
      <footer>
        <button class="footer_btn">Visite nosso blog!</button>
        <div>
            <a href="#" class="footer_links">
                <p>about</p>
            </a>
            <a href="#" class="footer_links">
                <p>contact</p>
            </a>
            <a href="#" class="footer_links">
                <p>sacPlantHub@gmail.com</p>
            </a>
        </div>
        <div class="social_media_links">
            <a href="#" class="social_media">
                <span></span>
                <small>Facebook</small>
            </a>
            <a href="#" class="social_media">
                <span></span>
                <small>Linkedin</small>
            </a>
            <a href="#" class="social_media">
                <span></span>
                <small>Github</small>
            </a>
        </div>
      </footer>
</body>
</html>