<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <script src="../assets/scripts/scripts.js" defer></script>
    <title>Document</title>
</head>
<body>
      <header>
        <div class="class1">
            <p class="logo">Logo</p>
            <div class="header_search">
                <input type="text" name="header_search">
                <span>P</span>
            </div>
            <div class="header_menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <nav>
            <button id="closeNavMenu">B</button>
            <a href="./home.html"><button>home</button></a>
            <a href="./shop.html"><button>shop</button></a>
            <a href="./blog.html"><button>blog</button></a>
            <a href="./about.html"><button>about</button></a>
            <a href="./contact.html"><button>contact</button></a>
        </nav>
      </header>
      <main>
        <div class="links_bar">
            <p><a href="home.html">Home</a> / </p>
        </div>
        <article>
            <header>
                <h5>Publicações</h5>
            </header>
            <div class="blog_publications">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </article>
      </main>
      <footer>
        <button class="footer_btn">Visite nosso blog!</button>
        <div>
            <a href="#" class="footer_links">
                <p>about</p>
            </a>
            <a href="#" class="footer_links">
                <p>contact</p>
            </a>
            <a href="#" class="footer_links">
                <p>sacPlantHub@gmail.com</p>
            </a>
        </div>
        <div class="social_media_links">
            <a href="#" class="social_media">
                <span></span>
                <small>Facebook</small>
            </a>
            <a href="#" class="social_media">
                <span></span>
                <small>Linkedin</small>
            </a>
            <a href="#" class="social_media">
                <span></span>
                <small>Github</small>
            </a>
        </div>
      </footer>
</body>
</html>