<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/home-style.css">
    <script src="../assets/scripts/home-script.js" type="module" defer></script>
    <title>PlantHub</title>
</head>
<body class="lightTheme">
    <h1>Hello, World!</h1>
    <h4>Nisi exercitation ea occaecat labore nostrud consequat ex nisi do amet.</h4>
    <p>Voluptate ut nostrud mollit elit reprehenderit incididunt nostrud sint labore.</p>
    <button>click to change theme</button>
</body>
</html>